<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Pantry</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Welcome to my Pantry</h1>
    <ul class="food-list">
      <% pantry.forEach((item) => { %>
        <li>
          <span>
            <%= item.name %>
            <form action="/users/<%= user._id %>/foods/<%= item._id %>?_method=DELETE" method="POST" style="display: inline;"><button type="submit">Delete</button>
            </form>
            <a href="/users/<%= user._id %>/foods/<%= item._id %>/edit"><button>Edit</button></a>
          </span>
        </li>
      <% }) %>
    </ul>
<a href='/users/<%= user._id %>/foods/new'><button>Add a New Food</button></a>
</body>
</html>